@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #171717;
  --gray: #646464;
  --red: #F63737;
  --light-gray: #d6d6d6;
  --linear-ease: linear(0, 0.068, 0.19 2.7%, 0.804 8.1%, 1.037, 1.199 13.2%, 1.245, 1.27 15.8%, 1.274, 1.272 17.4%, 1.249 19.1%, 0.996 28%, 0.949, 0.928 33.3%, 0.926, 0.933 36.8%, 1.001 45.6%, 1.013, 1.019 50.8%, 1.018 54.4%, 1 63.1%, 0.995 68%, 1.001 85%, 1);
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  color: var(--background);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a,
button {
  cursor: pointer;
}

input, textarea {
  outline: none;
}

input::-moz-focus-inner,
textarea::-moz-focus-inner {
  border: 0 !important;
}

textarea {
  transition-property: none;
}

path {
  outline: none;
}

.main-p {
  @apply pt-[132px] md:pt-36 xl:pt-[152px]
}

.block_wrapper {
  @apply py-10 w-full sm:py-12 md:py-14 xl:py-16
}